
@{
    Layout = null;
}
<h2>Mehrshad Main Page</h2>

<ul>
    <li>
        <button type="button">
            <a asp-area="Users" asp-controller="UserHome" asp-action="SignUp">
                SignUp
            </a>
        </button>
    </li>
    <li>
        <button type="button">
            <a asp-area="Users" asp-controller="UserHome" asp-action="SignIn">
                SignIn
            </a>
        </button>
    </li>
    <li>
        <button type="button">
            <a asp-area="UserPannel" asp-controller="UserPannelHome" asp-action="Index">
                My Profile
            </a>
        </button>
    </li>
</ul>
